/* General Body Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/background.png);
    background-size:cover;
   
  }
  
  /* Game Container */
  #game-container {
    position: relative;
    width: 100vh;
    height: 80vh;
    background-color: transparent;
    border: 3px solid #388e3c;
    overflow: hidden;
    display: flex;

  }
  
  /* Player */
  #player {
    position: absolute;
    width: 128px;
    height: 128px;
    bottom: 5px; 
  }
  #plant {
    position: absolute;
    width: 128px;
    height: 128px;
    right: 0;
    bottom: 0px;
    background: url(../assets/gem-plant.png);
    background-position: 0 10px;
  }
  
  /* Slime (Enemy) */
  .slime {
    position: absolute;
    top:0;
    width: 128px;
    height: 128px;
    background: url(../assets/Slimejump.png);
    background-position: -896px 0;

  }
  /* Animation */
  .player-run{
    background: url(../assets/Characterrun.png);
    animation: playerrunning 1s steps(8) infinite;
  }
  @keyframes playerrunning{
    to { background-position: -1024px;}
  }
  .player-stop{
    background: url(../assets/character-Idle.png);
    animation: playerrunning 1s steps(8) infinite;
  }
  @keyframes playerstop{
    to { background-position: -640px;}
  }
  .change-dead{
    background: url(../assets/characterDead.png);
    animation: changedead 0.5s steps(5) ;
  }
  @keyframes changedead{
    to { background-position: -640px;}
  }
  .player-left{
    transform: scaleX(-1);
  }
  .player-jump{
    background: url(../assets/characterJump.png);
    animation: playerjump 3s steps(8);
  }
  @keyframes playerjump{
    to {background-position: -1024px;}
  }
  .slime-attack{
    background: url(../assets/slimeAttack_1.png);
    animation: slimeattack 0.5s steps(4)infinite;
  }
  @keyframes slimeattack{
    to { background-position: -512px;}
  }



