/* General Body Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/background.png);
    background-size:cover;
   
  }
  
  /* Game Container */
  #game-container {
    position: relative;
    width: 100vh;
    height: 80vh;
    background-color: transparent;
    border: 3px solid #388e3c;
    overflow: hidden;
    display: flex;
   

  }
  
  /* Player */
  #player {
    position: absolute;
    width: 128px;
    height: 128px;
    background-image: url(../assets/Characterrun.png);
    bottom: 5px; 
  }
  
  /* Slime (Enemy) */
  .slime {
    position: absolute;
    top:0;
    width: 128px;
    height: 128px;
    background-image: url(../assets/Slimejump.png);
    
  }
  



